@font-face {
  font-family: 'Circe';
  src: url('../fonts/CirceRegular.woff2') format('woff2'), 
    url('../fonts/CirceRegular.woff') format('woff');
	font-style: normal;
	}

@font-face {
  font-family: 'Gilam';
  src: url('../fonts/GilamRegular.woff2') format('woff2'), 
    url('../fonts/GilamRegular.woff') format('woff');
	font-style: normal;
	}


.project-button, .menu-call, .menu-tel {
	font-family: 'Circe', sans-serif;
    font-style: normal;
	}


.section-l, .section-up, .section-desc, .project-link2-header, .project-1, .main-1-block7, .main-1-block6, .main-1-block5, .main-1-block4, .main-1-block3, .main-1-block2, .main-1-block1, .main-section-up {    
	font-family: 'Gilam', serif;
	font-style: normal;
	}


.header-1 {
	background-size: cover;
    background-attachment: fixed;
    background-image: url('../img/header.jpeg');
    background-repeat: no-repeat;
	}
	
	
.menu {
    display: flex;
    align-items: center;
    padding-top: 46px;
	}


.menu-tel {
	margin-left: auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    margin-right: 39px;
	}
	
	
.menu-yel {
    color: #D6AF76;
	}
	
	
.menu-call {
	font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    padding: 10px 22px 10px 26px;
    box-sizing: border-box;
	}
		

.section-up {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
	margin-top: 128px;
	}
	
	
.section-desc {
    max-width: 1182px;
    margin: 41px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
	}


.section-l {
    display: grid;
    grid-template-areas: "S1 S1 S1 S1 S2 S2 S2 S2 S3 S3 S3 S3"
    "S4 S4 S4 S4 S4 S4 S5 S5 S5 S5 S5 S5";
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
	}
	
	
.section-S1 {
    grid-area: S1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;
	}
	
	
.section-S2 {
    grid-area: S2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4A385;
    padding: 0 43px;
	}
	
	
.section-S3 {
    grid-area: S3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4B564;
	}
	
	
.section-S4 {
    grid-area: S4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #635A4A;
	}
	
	
.section-S5 {
    grid-area: S5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B08C4D;
	}
	
	
.main {
    background-image: url('../img/par.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	}
	
	
.main-section-up {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-top: 161px;
    padding-bottom: 94px;
	}
	
	
.main-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: 900px;
    padding-bottom: 191px;
	}


.main-1-block1 {
    width: 467px;
    min-height: 313px;
    background-color: #0E0E0E;
    padding: 44px 52px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
	}


.main-1-block2 {
    width: 467px;
    min-height: 560px;
    background-color: #1F1F1F;
    padding: 44px 52px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
	}
	
	
.main-1-block3 {
    width: 467px;
    min-height: 439px;
    background-color: #242424;
    padding: 44px 52px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
	}
	
	
.main-1-block4 {
    width: 467px;
    min-height: 405px;
    background-color: #E4B564;
    padding: 44px 52px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
	}
	
	
.main-1-block5 {
    width: 467px;
    min-height: 255px;
    background-color: #1F1F1F;
    padding: 44px 52px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
	}
	
	
.main-1-block6 {
    width: 467px;
    min-height: 313px;
    background-color: #0E0E0E;
    padding: 44px 52px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
	}
	
	
.main-1-block7 {
    width: 467px;
    min-height: 277px;
    background-color: #0A0909;
    padding: 44px 52px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
	}


.main-1-text-semibold {
    font-weight: 700;
    display: block;
	}


.project {
    background-color: #0E0E0E;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 239px;
	}
	
	
.project-head {
    padding: 172px 0 72px;
	}
	
	
.project-1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
	}
	

.project-button {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 40px;
    color: #E4B564;
    border: 1px solid #E4B564;
    box-sizing: border-box;
	}
	
	
.project-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
	}
	
	
.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
	}


.project-link1, .project-link3, .project-link4, .project-link5, .project-link6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	}
	
	
.project-link2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	}
	
	
.project-link1 {
    background-color: #634F2C;
	}
	
	
.project-link2 {
    background-color: rgba(232, 210, 171, 0.76);
	}
	
	
.project-link3 {
    background-color: #E4B564;
	}
	
	
.project-link4 {
    background-color: #635A4A;
	}
	
	
.project-link5 {
    background-color: #B08C4D;
	}
	
	
.project-link6 {
    background-color: #634F2C;
	}
	
	
.project-logo1 {
    display: block;
	}


.project-link2-header {
    max-width: 320px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
	}
	
	
.block {
    max-width: 1460px;
    margin: 0 auto;
	}	


.body {
    background-color: #171717;
	
	}


.menu-call::before {
    display: inline-block;
    margin-right: 10px;
	content: url('../img/tel.png');
	}	
	
	
.link2-header-span {
    display: block;
    font-weight: 400;
	}